<% include ../views/partials/header %>

            <div class="well">
                <h2 class="header">BLOG SHOW PAGE</h2>
                <hr class="line">
                <p class="post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla finibus nisi tortor. Sed volutpat tortor pharetra sapien blandit pharetra. 
                Proin egestas neque vel lacinia lacinia. Donec nisi est, scelerisque a vestibulum sit amet, placerat et neque. Integer hendrerit iaculis neque eu pulvinar.
                Quisque vel elementum lorem. Curabitur ac odio lorem. Ut quis massa ac dui accumsan eleifend egestas ac justo. Donec id lorem arcu. </p>
            </div>
            <div class="well">
                <h2 class="header">BLOG SHOW PAGE</h2>
                <hr class="line">
                <p class="post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla finibus nisi tortor. Sed volutpat tortor pharetra sapien blandit pharetra. 
                Proin egestas neque vel lacinia lacinia. Donec nisi est, scelerisque a vestibulum sit amet, placerat et neque. Integer hendrerit iaculis neque eu pulvinar.
                Quisque vel elementum lorem. Curabitur ac odio lorem. Ut quis massa ac dui accumsan eleifend egestas ac justo. Donec id lorem arcu. </p>
            </div>
            <div class="well">
                <h2 class="header">BLOG SHOW PAGE</h2>
                <hr class="line">
                <p class="post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla finibus nisi tortor. Sed volutpat tortor pharetra sapien blandit pharetra. 
                Proin egestas neque vel lacinia lacinia. Donec nisi est, scelerisque a vestibulum sit amet, placerat et neque. Integer hendrerit iaculis neque eu pulvinar.
                Quisque vel elementum lorem. Curabitur ac odio lorem. Ut quis massa ac dui accumsan eleifend egestas ac justo. Donec id lorem arcu. </p>
            </div>
            <div class="well">
                <h2 class="header">BLOG SHOW PAGE</h2>
                <hr class="line">
                <p class="post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla finibus nisi tortor. Sed volutpat tortor pharetra sapien blandit pharetra. 
                Proin egestas neque vel lacinia lacinia. Donec nisi est, scelerisque a vestibulum sit amet, placerat et neque. Integer hendrerit iaculis neque eu pulvinar.
                Quisque vel elementum lorem. Curabitur ac odio lorem. Ut quis massa ac dui accumsan eleifend egestas ac justo. Donec id lorem arcu. </p>
            </div>
            <div class="well">
                <h2 class="header">BLOG SHOW PAGE</h2>
                <hr class="line">
                <p class="post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla finibus nisi tortor. Sed volutpat tortor pharetra sapien blandit pharetra. 
                Proin egestas neque vel lacinia lacinia. Donec nisi est, scelerisque a vestibulum sit amet, placerat et neque. Integer hendrerit iaculis neque eu pulvinar.
                Quisque vel elementum lorem. Curabitur ac odio lorem. Ut quis massa ac dui accumsan eleifend egestas ac justo. Donec id lorem arcu. </p>
            </div>

<% include ../views/partials/footer%>