<% include ../views/partials/header %>
    <div class ="row">
        <div class="col-md-1">
            
        </div>
        <div class="col-md-2">
            <p class="lead">Blog App</p>
               <hr>
                <div class="list-group">
                    <a href="#" class="list-group-item dropmenu">Link</a>
                        <div class="list-group-item menulink">
                             <button type="button" class="list-group-item">Cras justo odio</button>
                              <button type="button" class="list-group-item">Cras justo odio</button>
                        </div>
                    <a href="#" class="list-group-item dropmenu">Link</a>
                        <div class="list-group-item menulink">
                             <button type="button" class="list-group-item">Cras justo odio</button>
                              <button type="button" class="list-group-item">Cras justo odio</button>
                        </div>
                    <a href="#" class="list-group-item dropmenu">Link</a>
                        <div class="list-group-item menulink">
                             <button type="button" class="list-group-item">Cras justo odio</button>
                              <button type="button" class="list-group-item">Cras justo odio</button>
                        </div>
                </div>
        </div>
        <div class="col-md-8">
        <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h2 class="header">BLOG SHOW PAGE</h2>
                <hr class="line">
                <p class="post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla finibus nisi tortor. Sed volutpat tortor pharetra sapien blandit pharetra. 
                Proin egestas neque vel lacinia lacinia. Donec nisi est, scelerisque a vestibulum sit amet, placerat et neque. Integer hendrerit iaculis neque eu pulvinar.
                Quisque vel elementum lorem. Curabitur ac odio lorem. Ut quis massa ac dui accumsan eleifend egestas ac justo. Donec id lorem arcu. </p>
            </div>
        </div>

        </div>        
        </div>
    </div>
<% include ../views/partials/footer%>